version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: codearchive_pg
    environment:
      POSTGRES_USER: codearchive_user
      POSTGRES_PASSWORD: codearchive_password
      POSTGRES_DB: codearchive_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: